.icon-symbol-array {
    color: var(--vscode-symbolIcon-arrayForeground)
}

.icon-symbol-boolean {
    color: var(--vscode-symbolIcon-booleanForeground)
}

.icon-symbol-class {
    color: var(--vscode-symbolIcon-classForeground)
}

.icon-symbol-method {
    color: var(--vscode-symbolIcon-methodForeground)
}

.icon-symbol-color {
    color: var(--vscode-symbolIcon-colorForeground)
}

.icon-symbol-constant {
    color: var(--vscode-symbolIcon-constantForeground)
}

.icon-symbol-constructor {
    color: var(--vscode-symbolIcon-constructorForeground)
}

.icon-symbol-enum {
    color: var(--vscode-symbolIcon-enumeratorForeground)
}

.icon-symbol-enum-member {
    color: var(--vscode-symbolIcon-enumeratorMemberForeground)
}

.icon-symbol-event {
    color: var(--vscode-symbolIcon-eventForeground)
}

.icon-symbol-field {
    color: var(--vscode-symbolIcon-fieldForeground)
}

.icon-symbol-file {
    color: var(--vscode-symbolIcon-fileForeground)
}

.icon-symbol-folder {
    color: var(--vscode-symbolIcon-folderForeground)
}

.icon-symbol-function {
    color: var(--vscode-symbolIcon-functionForeground)
}

.icon-symbol-interface {
    color: var(--vscode-symbolIcon-interfaceForeground)
}

.icon-symbol-key {
    color: var(--vscode-symbolIcon-keyForeground)
}

.icon-symbol-keyword {
    color: var(--vscode-symbolIcon-keywordForeground)
}

.icon-symbol-module {
    color: var(--vscode-symbolIcon-moduleForeground)
}

.icon-symbol-namespace {
    color: var(--vscode-symbolIcon-namespaceForeground)
}

.codicon.codicon-symbol-null {
    color: var(--vscode-symbolIcon-nullForeground)
}

.codicon.codicon-symbol-number {
    color: var(--vscode-symbolIcon-numberForeground)
}

.codicon.codicon-symbol-object {
    color: var(--vscode-symbolIcon-objectForeground)
}

.codicon.codicon-symbol-operator {
    color: var(--vscode-symbolIcon-operatorForeground)
}

.codicon.codicon-symbol-package {
    color: var(--vscode-symbolIcon-packageForeground)
}

.icon-symbol-property {
    color: var(--vscode-symbolIcon-propertyForeground)
}

.codicon.codicon-symbol-reference {
    color: var(--vscode-symbolIcon-referenceForeground)
}

.codicon.codicon-symbol-snippet {
    color: var(--vscode-symbolIcon-snippetForeground)
}

.icon-symbol-string {
    color: var(--vscode-symbolIcon-stringForeground)
}

.codicon.codicon-symbol-struct {
    color: var(--vscode-symbolIcon-structForeground)
}

.codicon.codicon-symbol-text {
    color: var(--vscode-symbolIcon-textForeground)
}

.codicon.codicon-symbol-type-parameter {
    color: var(--vscode-symbolIcon-typeParameterForeground)
}

.codicon.codicon-symbol-unit {
    color: var(--vscode-symbolIcon-unitForeground)
}

.icon-symbol-variable {
    color: var(--vscode-symbolIcon-variableForeground)
}