#one-time-config {
    border-radius: 4px;
    position: relative;
    z-index: 1;

    &>summary {
        width: 24px;
        height: 24px;
        border-radius: 4px;
        padding: 4px;
        outline: 0;

        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;

        &::marker {
            content: "";
        }

        &:hover {
            background-color: var(--vscode-toolbar-hoverBackground);
        }
    }

    nav {
        margin-top: 34px;
        padding: 4px;
        border-radius: 4px;

        background-color: var(--vscode-sideBar-background);
        min-width: max-content;
    }

    li {
        border-radius: 4px;
        padding: 4px;
        font-size: 14px;
        list-style-type: none;

        display: flex;
        align-items: center;
        box-sizing: border-box;


        &:has(label>input:not([type="radio"])) {
            cursor: pointer;
            padding: 0 !important;

            &>label {
                padding: 4px;
            }
        }

        &:has(>select, #watermark-position-wrapper, input[type="number"]) {
            cursor: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 4px;
        }

        &:has(#watermark-position-wrapper) {
            padding: 4px;
        }


        &[data-action] {
            cursor: pointer;
            gap: 4px;
        }

        &:hover {
            background-color: var(--vscode-sideBar-dropBackground);
        }

        .tooltip-text {
            cursor: default;
        }

        &>label {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            cursor: pointer;
            gap: 4px;
        }

        select {
            background-color: var(--vscode-sideBar-background);
            color: var(--vscode-foreground);
            border-radius: 4px;
            padding: 2px 0;
            cursor: pointer;

            outline: 0;
        }

        input[type="checkbox"] {
            background-color: var(--vscode-settings-checkboxBackground);
            color: var(--vscode-settings-checkboxForeground);

            height: 100%;
            aspect-ratio: 1/1;
            outline: 0;
            cursor: pointer;
        }

        input[type="number"] {
            background-color: var(--vscode-sideBar-background);
            color: var(--vscode-foreground);

            border: 1px solid var(--vscode-icon-foreground);
            border-radius: 4px;
            padding: 2px 0;
            text-align: center;

            &::-webkit-inner-spin-button {
                display: none;
            }

            &:invalid {
                border-color: var(--vscode-errorForeground);
                outline-color: var(--vscode-errorForeground);
            }
        }

        #watermark-position-wrapper {
            --square-size: 12px;

            display: grid;
            background-color: currentColor;
            gap: 1px;
            border: 1px solid currentColor;
            border-radius: 2px;
            grid-template-columns: repeat(2, var(--square-size));
            margin: 2px;

            >label {
                display: flex;
                width: 100%;
                aspect-ratio: auto 1/1;
                background-color: var(--vscode-sideBar-background);
                box-sizing: border-box;

                >.bg {
                    display: flex;
                    width: 100%;
                    height: 100%;
                }

                &:has(input:checked)>.bg {
                    background-color: var(--vscode-focusBorder);
                }

                &:not(:has(input:checked)):hover>.bg {
                    background-color: var(--vscode-focusBorder);
                    opacity: .6;
                }

                >input {
                    display: none;
                    margin: 0;
                }
            }
        }
    }
}


li:has(:disabled),
select:disabled {
    color: var(--vscode-disabledForeground);
}

select>option {
    background-color: var(--vscode-sideBar-background);
    color: var(--vscode-foreground);
}

.expand-content {
    &[data-state=open] {
        >summary {
            &:hover {
                background-color: transparent;
            }

            >.codicon-chevron-down {
                rotate: 180deg;
            }
        }
    }

    >summary {
        display: flex;
        justify-content: space-between;
        gap: 32px;
        border-radius: 4px;
        padding: 4px;

        &:hover {
            background-color: var(--vscode-toolbar-hoverBackground);
        }

        >.codicon-chevron-down {
            transition: 400ms;
        }
    }
}