html {
    --ligatures: normal;
    --font-features: initial;
    --tab-size: 4;
    --container-background-color: #abb8c3;
    --box-shadow: rgba(0, 0, 0, 0.55) 0px 20px 68px;
    --container-padding: 3em;
    --window-border-radius: 4px;
    --letter-spacing: 0px;
    --zoom: 100%;
    --max-char-width: 100% box-sizing: border-box;
    --bigger-select-width: min-content
}

body {
    padding-top: 48px;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-variant-ligatures: var(--ligatures);
    font-feature-settings: var(--font-features);
    tab-size: var(--tab-size);
    user-select: none;

    padding-bottom: 1rem;
}

.mr-1 {
    margin-right: 4px;
}

code {
    color: currentColor;
}

div:has(#snippet-scroll) {
    display: flex;
    flex-direction: column;
    align-items: end;
    max-width: 100%;
    gap: 4px;
}

#snippet-scroll {
    max-width: 100%;
    overflow-x: auto;
    margin: auto;
    zoom: var(--zoom);
}

#target-proportion {
    color: var(--vscode-foreground);
    background-color: var(--vscode-sideBar-background);
    padding: 4px;
    border-radius: 6px 4px;
}

#snippet-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--container-padding);
    background: var(--container-background-color);
    min-width: max-content;
    min-height: max-content;
    box-sizing: border-box;

    &[data-enableresizing="true"] {
        &:is([data-target="container"]) {
            overflow: hidden;
            resize: both;
        }

        #window {
            resize: horizontal;
        }
    }
}

#window {
    display: flex;
    flex-direction: column;
    border-radius: var(--window-border-radius);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    width: max-content;
    min-width: 100px;
    padding: 18px;
    background-color: var(--vscode-editor-background);
    box-sizing: border-box;

    * {
        box-sizing: border-box;
    }
}

#breadcrumb {
    display: flex;
    padding: 4px;
    margin-top: -6px;
    margin-bottom: 2px;
    border-top: 1px solid var(--border-color);
    margin-left: -4px;

    .breadcrumb-item {
        display: flex;
    }

    .breadcrumb-label {
        padding-left: 4px;
    }
}

#snippet {
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-all;
    color: var(--vscode-editor-foreground);
    background-color: var(--vscode-editor-background);
    font-family: var(--vscode-editor-font-family);
    font-size: calc(var(--vscode-editor-font-size) * 1px);
    font-weight: var(--vscode-editor-font-weight);
    letter-spacing: var(--letter-spacing);
}

.line {
    display: flex;
}

.line-number {
    text-align: right;
    color: var(--vscode-editorLineNumber-foreground);
    width: var(--line-number-width);
    white-space: nowrap;
    flex: none;
    display: var(--line-number-visibility);
}

.line-code {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 18px;

    >span {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        max-width: var(--max-char-width);

        >span {
            white-space: pre-wrap;
            width: max-content;
        }
    }
}

#save-container {
    margin-top: 1rem;
    text-align: center;
}

.shutter {
    width: 64px;
    height: 64px;
    cursor: pointer;
}

.size-test {
    font-family: var(--vscode-editor-font-family) !important;
    font-size: calc(var(--vscode-editor-font-size) * 1px) !important;
    letter-spacing: var(--letter-spacing) !important;
    display: inline-block;
}

#flash-fx {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    transition: opacity 200ms ease;
    opacity: 1;
}

.link {
    color: var(--vscode-textLink-foreground);
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

svg.follow-colors {
    *[stroke]:not([stroke="none"]) {
        stroke: var(--vscode-foreground);
    }

    *[fill]:not([fill="none"]) {
        fill: var(--vscode-foreground);
    }
}