#top-header {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;

    width: 100%;
    box-sizing: border-box;
    padding: 8px;

    display: grid;
    grid-template-rows: 32px;
    grid-template-columns: 1fr max-content 1fr;

    #left-wrapper {
        display: flex;
        align-items: flex-start;
        gap: 8px;
    
        [data-state="unlinked"]>#link-icon,
        [data-state="linked"]>#unlink-icon {
            display: none;
        }
    }

    #center-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;
        
        [data-configname=zoom] {
            width: 60px;
            background-color: transparent;
            color: var(--vscode-foreground);
            border: none;
            height: 32px;
    
            &:hover {
                background-color: var(--vscode-toolbar-hoverBackground);
            }
        }
    
        &>button {
            font-size: 20px;
    
            height: 32px;
            aspect-ratio: 1/1;
    
            display: grid;
            place-items: center;
    
            &.disabled {
                color: var(--vscode-disabledForeground);
            }
        }
    }

    #one-time-config-wrapper {
        border-radius: 4px;
        display: flex;

        justify-content: flex-end;
    }
}