#top-header {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;

    width: 100%;
    box-sizing: border-box;
    padding: 8px;

    display: grid;
    grid-template-rows: 32px;
    grid-template-columns: 1fr max-content 1fr;
}