#top-header {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;

    width: 100%;
    box-sizing: border-box;
    padding: 8px;

    display: grid;
    grid-template-rows: 32px;
    grid-template-columns: 1fr max-content 1fr;

    #left-wrapper {
        display: flex;
        align-items: flex-start;
        gap: 8px;
    }

    #center-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;
        
        [data-configname=zoom] {
            width: 60px;
            background-color: transparent;
            color: var(--vscode-foreground);
            border: none;
            height: 32px;
    
            &:hover {
                background-color: var(--vscode-toolbar-hoverBackground);
            }
        }
    
        &>button {
            font-size: 20px;
    
            height: 32px;
            aspect-ratio: 1/1;
    
            display: grid;
            place-items: center;
    
            &.disabled {
                color: var(--vscode-disabledForeground);
            }
        }
    }

    #one-time-config-wrapper {
        border-radius: 4px;
        display: flex;

        justify-content: flex-end;
    }

    :is(#left-wrapper, #center-wrapper) {
        >button {
            display: flex;
            font-size: 24px;
            padding: 4px;
    
            background-color: var(--vscode-background);
            color: var(--vscode-foreground);
    
            border: none;
            border-radius: 4px;
            cursor: pointer;
    
            &:hover {
                background-color: var(--vscode-toolbar-hoverBackground);
            }
        }
    
        :is(button.codicon, button>.codicon) {
            font-size: 24px;
        }
    }
}