#watermark{
    position: absolute;
    bottom: 2px;
    left: 4px;
    right: 4px;

    &:focus{
        outline: 1px solid var(--vscode-settings-focusedRowBorder);
    }

    &[data-watermark-position$="-right"]{
        text-align: right;
    }

    &[data-watermark-position$="-left"]{
        text-align: left;
    }
}

#window:has(#watermark[data-target="window"]){
    position: relative;
}

#snippet-container:has(#watermark[data-target="container"]){
    position: relative;

    &:has([data-watermark-position^="top"]) #watermark{
        top: 2px;
        bottom: unset;
    }
}