#window[data-style="macos"] {
    #navbar {
        justify-content: left;
    }

    #window-title {
        margin: 0;
        text-align: center;
    }

    #window-controls {
        gap: 8px;
    }
}

#window[data-style="windows"] {
    #navbar {
        margin-top: -8px;
        margin-right: -4px;
        justify-content: right;
        margin-bottom: 10px;
    }

    #window-controls {
        gap: 16px;
        justify-self: right;
        order: 3;
    }
}

#navbar {
    margin-bottom: 15px;
    display: flex;
    gap: 4px;
}

#window-title {
    width: 100%;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: 1px solid var(--vscode-settings-focusedRowBorder);
        cursor: text;
    }
}

#window-controls {
    display: flex;

    .button {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 14px;
        height: 14px;
    }

    .dot {
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }

    .red {
        background-color: #ff5f5a;
    }

    .yellow {
        background-color: #ffbe2e;
    }

    .green {
        background-color: #2aca44;
    }
}