#window[data-style="macos"] {
    #navbar {
        justify-content: left;
    }

    #window-title {
        margin: 0;
        text-align: center;
    }

    #window-controls {
        justify-self: left;
        gap: 8px;

        *.button {
            display: none;
        }
    }

    #window-controls[hidden]+#window-title {
        margin: 0;
        text-align: center;
    }
}

#window[data-style="windows"] {
    #navbar {
        margin-top: -8px;
        margin-right: -4px;
        justify-content: right;
    }

    #window-controls {
        gap: 16px;
        float: right;
        justify-self: right;
        order: 3;

        *.dot {
            display: none;
        }
    }
}

#navbar {
    margin-bottom: 15px;
    display: flex;
}

#window-title {
    width: 100%;
}

#window-title:hover {
    cursor: pointer;
}

#window-title:focus {
    outline: 1px solid var(--vscode-settings-focusedRowBorder);
    cursor: text;
}

#window-controls {
    display: flex;

    .button {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 14px;
        height: 14px;
    }

    .dot {
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }

    .red {
        background-color: #ff5f5a;
    }

    .yellow {
        background-color: #ffbe2e;
    }

    .green {
        background-color: #2aca44;
    }

    &[hidden] {
        display: none;
    }
}