.vscode/**
.vscode-test/**
.github/**

# Source
src/**
screenshots/**
**/*.map
**/*.ts
node_modules
cli/**
badges/**
webview/assets

#Config
**/tsconfig.json
*.config.js
.yarnrc
.gitignore
biome.json
TranslationGuide.md

#Codicons
!node_modules/@vscode/codicons/dist/*.css
!node_modules/@vscode/codicons/dist/*.ttf

# Assets
webview/assets

# CSS
webview/**/*.css
!webview/output.css