.vscode/**
.vscode-test/**
.github/**

# Source
src/**
screenshots/**
**/*.map
**/*.ts
node_modules

#Config
**/.eslintrc.json
**/tsconfig.json
webpack.config.js
.yarnrc
.gitignore

#Codicons
!node_modules/@vscode/codicons/dist/*.css
!node_modules/@vscode/codicons/dist/*.ttf